<section
  id="proyectos"
  class="flex flex-col py-20 md:py-32 w-full mx-auto container lg:max-w-5xl"
>
  <h2 class="mb-8 md:mb-14 text-3xl font-bold text-purple-600 text-center">
    Conocimientos
  </h2>

  <!-- Acordeón -->
  <div class=""></div>
</section>
