---
import { useState } from "react";
import Conocimientos2 from "../ui/Conocimientos.tsx";
---

<section
  id="proyectos"
  class="flex flex-col py-20 md:py-32 w-full mx-auto container lg:max-w-5xl"
>
  <h2 class="mb-8 text-3xl font-bold text-gray-800 text-center relative">
    Conocimientos
    <span class="bg-purple-600 h-1 w-12 mx-auto block mt-4"></span>
  </h2>

  <!-- Acordeón -->
  <div class="">
    <Conocimientos2 client:load />
  </div>
</section>
