<footer class="py-10 text-center">
  <a href="#header" class=""
    ><button class="float-effect my-8">
      <svg
        class="dark:stroke-white"
        fill="none"
        height="64"
        viewBox="0 0 24 24"
        width="64"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M17 9.98265L12.0174 5.00005L7.03477 9.98265"
          stroke="currentColor"
          stroke-linecap="round"></path>
        <path
          d="M17 16.5312L12.0174 11.5486L7.03477 16.5312"
          stroke="currentColor"
          stroke-linecap="round"></path></svg
      ></button
    ></a
  >
  <p class="text-gray-500">
    &copy; 2025 jorgedev - Todos los derechos reservados
  </p>
</footer>
