---
import ThemeToggle from "../ui/ThemeToggle";
import GitHubLogo from "../../assets/GitHubLogo";
---

<header id="header" class="p-5 font-semibold shadow-sm">
  <div class="container mx-auto flex justify-around items-center">
    <nav>
      <ul class="flex flex-wrap justify-center items-center gap-4 md:gap-8">
        <li>
          <a href="#proyectos" class="hover:text-purple-500">Proyectos</a>
        </li>
        <li>
          <a href="#tecnologias" class="hover:text-purple-500">Tecnologías</a>
        </li>
        <li>
          <a href="#conocimientos" class="hover:text-purple-500"
            >Conocimientos</a
          >
        </li>
        <li>
          <a
            href="/pdf/CV2025_Jorge.pdf"
            target="_blank"
            class="hover:text-purple-500">Ver CV</a
          >
        </li>
        <li class="flex justify-center items-center gap-x-2">
          <a href="#" class="hover:text-purple-500"
            ><ThemeToggle client:load /></a
          >
          <div class="w-6 h-6 flex justify-center items-center">
            <GitHubLogo />
          </div>
        </li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
