---
---

<header class="p-8 font-semibold shadow-md">
    <div class="container mx-auto flex justify-around items-center ">
      <nav>
        <ul class="flex gap-6 md:gap-12">
          <li><a href="#about" class="hover:text-primary-focus">Sobre mí</a></li>
          <li><a href="#projects" class="hover:text-primary-focus">Proyectos</a></li>
          <li><a href="#skills" class="hover:text-primary-focus">Skills</a></li>
          <li><a href="#contact" class="hover:text-primary-focus">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  