---
import ThemeToggle from "../ui/ThemeToggle";
---

<header id="header" class="p-5 font-semibold shadow-sm">
  <div class="container mx-auto flex justify-around items-center">
    <nav>
      <ul class="flex justify-center items-center gap-4 md:gap-8">
        <li><a href="#about" class="hover:text-purple-500">Sobre mí</a></li>
        <li>
          <a href="#proyectos" class="hover:text-purple-500">Proyectos</a>
        </li>
        <li>
          <a href="#tecnologias" class="hover:text-purple-500">Tecnologías</a>
        </li>
        <li>
          <a href="#" class="hover:text-purple-500"
            ><ThemeToggle client:load /></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
