---
import Proyecto from "../sections/subsections/Proyecto.tsx";
---

<section
  id="proyectos"
  class="py-16 mt-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <!-- Título -->
  <h2 class="mb-8 text-3xl font-bold text-gray-800 text-center relative">
    Proyectos
    <span class="bg-purple-600 h-1 w-12 mx-auto block mt-4"></span>
  </h2>

  <!-- Proyectos -->
  <div class="mt-8 flex flex-col gap-16 md:gap-20">
    <!-- Proyecto 1 -->
    <Proyecto
      client:load
      titulo="ShortUrl - Acortador de enlaces"
      botones_tech={["react", "node", "express", "mongodb"]}
      img="/images/shorturl.webp"
      descripcion={`Servicio web para generar URLs cortas y manejables, simplificando 
    la difusión de contenido y facilitando su compartición.`}
      link_github="https://github.com/Jorge-coder02/short-url-backend"
      link_preview="https://short-url-frontend-khaki.vercel.app/"
    />

    <!-- Proyecto 2 -->
    <Proyecto
      client:load
      titulo="Taberna - Restaurante con reservas"
      botones_tech={["react", "tailwind", "node", "express", "mongodb"]}
      img="/images/restaurante.webp"
      descripcion={`Diseño web de restaurante con interfaz user-friendly y página de reservas.`}
      link_github="https://github.com/Jorge-coder02/restaurante"
      link_preview="https://restauranteesp.netlify.app/"
    />

    <!-- Proyecto 3 -->
    <Proyecto
      client:load
      titulo="Devflix - Cartelera de películas"
      botones_tech={["react", "node", "express", "mongodb"]}
      img="/images/devflix.webp"
      descripcion={`Cartelera interactiva que permite descubrir y explorar películas en tiempo real gracias a la API de TMDb.`}
      link_github="https://github.com/Jorge-coder02/devflix-frontend"
      link_preview="https://devflixcinema.netlify.app/"
    />

    <!-- Proyecto 4 -->
    <Proyecto
      client:load
      titulo="Tic Tac Toe - Juego de destreza"
      botones_tech={["react", "tailwind"]}
      img="/images/tictactoe.webp"
      descripcion={`Popular juego de Tic Tac Toe, creado para 2 jugadores en
    local. Desarrollado desde cero con React y Tailwind CSS.`}
      link_github="https://github.com/Jorge-coder02/tic-tac-toe"
      link_preview="https://tictactoebyjorge.netlify.app/"
    />

    <!-- Proyecto 5 -->
    <!-- <Proyecto
      client:load
      titulo="Simon Says - Juego de memoria"
      botones_tech={["react", "tailwind"]}
      img="/images/simondice.webp"
      descripcion={`Juego clásico de memoria en el que debes repetir secuencias de colores y sonidos en el orden correcto. 
      Con posibilidad de elegir la dificultad.`}
      link_github="https://github.com/Jorge-coder02/simon-says"
      link_preview="https://simonsaysjorge.netlify.app"
    /> -->
  </div>
</section>
