---
import Header from "../components/sections/Header.astro"
import About from "../components/sections/About.astro"
import Projects from "../components/sections/Projects.astro"
import Footer from "../components/sections/Footer.astro"
---

<html lang="es" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portfolio</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body class=" ">

    <Header></Header>

    <About></About>

    <Projects></Projects>

    <Footer></Footer>
	  
  </body>
</html>

