---
import "../styles/global.css";
---

<!doctype html>
<html lang="es" class="lightMode" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Bienvenido a mi portfolio. Descubre mis proyectos en desarrollo 
      web y diseño Frontend, donde combino creatividad y tecnología para crear experiencias únicas."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/portfolio.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mi portfolio web</title>
  </head>
  <body>
    <slot />
  </body>
</html>
